In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('./train_pothole1.csv')
lst= list(df['path'])
df

,Unnamed: 0,path,width,height,label,x,y,w,h
0,2976,./images/1_1000/511.jpg,1920,1080,9,1361.945996,953.269770,63.439024,77.530650
1,2977,./images/1_1000/511.jpg,1920,1080,9,987.311850,924.494335,89.149211,42.632578
2,8703,./images/1001_2000/1845.jpg,1920,1080,9,1088.784657,792.205742,60.434724,27.698565
3,9127,./images/1001_2000/1924.jpg,1920,1080,9,814.868102,837.851675,77.662180,16.502392
4,9200,./images/1001_2000/1952.jpg,1920,1080,9,1375.621803,892.110048,138.819650,56.980861
...,...,...,...,...,...,...,...,...,...
84,113867,./images/28001_29000/28339.jpg,1920,1080,9,668.434724,937.755981,141.403769,72.483254
85,113868,./images/28001_29000/28339.jpg,1920,1080,9,739.928668,860.244019,112.117093,75.928230
86,115935,./images/28001_29000/28861.jpg,1920,1080,9,1538.393976,851.424316,116.151478,33.727273
87,116413,./images/28001_29000/28951.jpg,1920,1080,9,1215.768309,922.939777,210.787591,63.608660
88,118915,./images/29001_30000/29638.jpg,1920,1080,9,1166.963048,866.995690,131.364896,46.304803

In [ ]:
for i, path in enumerate(lst, 1):
    copyfile(''+path, './data_pothole')